html {
    scroll-behavior: smooth;
}
body {
    background-color: #698996;
    color: white;
    align-content: center;
}


@keyframes header-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes header-fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
.intro {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.title {
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: 'Raleway', sans-serif;
    animation-name: header-fade-in;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.title > h1 {
    margin-bottom: 5px;
    font-size: 3em;
}
.title > h2 {
    font-size: 1.3em;
}
nav > ul {
   font-family: 'Raleway', sans-serif;
   list-style: none; 
   display: flex;
   padding-inline-start: 0;
}
.intro-links {
   opacity: 0;
   animation-name: header-fade-in;
   animation-duration: 4s;
   animation-delay: 2s;
   animation-fill-mode: forwards;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    width: 100%;
    display: none;
}

.navbar-fade-in {
    animation-name: header-fade-in;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.navbar-fade-out {
    animation-name: header-fade-out;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    opacity: 1;
}

main > section {
    height: 100vh;
}
.anchor {
    padding-top: 100px;
}